* {
    font-family: 'Public Sans', sans-serif;
}

body{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.gray {
    color: rgb(169, 169, 169);
}

.darkBlue {
    color: hsl(233, 26%, 24%);
}

.limeGreen{
    color: hsl(136, 65%, 51%);
}

.brightCyan{
    color: hsl(192, 70%, 51%);
}

.grayishBlue{
    color: hsl(233, 8%, 62%);
}

.lightGrayishBlue{
    color: hsl(220, 16%, 96%);
}

.veryLightGray{
    color: hsl(0, 0%, 98%);
}

.white{
    color: hsl(0, 0%, 100%);
}
.container {
    display: flex;
    align-items: center;
}
.container+.item {
    display: flex;
}

nav {
    position: relative;
    z-index:1;
    width: 100vw;
    justify-content: space-around;
    background-color: hsl(0, 0%, 100%);
}

.NavUl {
    list-style-type: none;
}

ul.NavUl li {
    padding: .5rem;
    font-size: smaller;
    font-weight: lighter;
}

.NavButton {
    display: flex;
    width: 9rem;
    height: 1.8rem;
    border-radius: 2.5rem;
    align-items: center;
    justify-content: center;
    border: none;
    background-image: linear-gradient(to right, hsl(136,65%, 51%), hsl(192,70%,51%));
}

.section1{ 
    height: 70vh;
    background-color: hsl(0, 0%, 98%);
    background-image: url(/images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position:calc(50vw);
    background-size: 80rem;
}

.section1>div>div:first-of-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw; 
    height: 70vh;
    
}
/* .section1>div>div.container {
    width: 90vw;
    height: 70vh;
    margin-left:10vw;
    flex-direction: column;
} */

.containerSection1{
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    height: 70vh;
    justify-content: center;
}
.section1 div p{
    width: 20rem;
    font-size: smaller;
}

.section2{
    height: 70vh;
    background-color: hsl(220, 16%, 96%);
}

.section2>div{
    height: 70vh;
    flex-direction: column;
    justify-content: center;
}

.section2 div div.container{
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.section2 div div.item{
    width: 80vw;
}
.section2 div div.item:first-child{
    width: 80vw;
    margin-bottom: 2rem;
}
.section2 div div.item p{
    font-size: smaller;
}

.articleSection2{
    width: 18vw;
}
.section3{ 
    height: 70vh;
    background-color: hsl(0, 0%, 98%);
}
.section3>div{
    height: 70vh;
    width: 80vw;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.section3>div>div{
    width: 80vw;
    justify-content: space-between;
    align-items: baseline;
}
footer{
    background-color: hsl(233, 26%, 24%);
    height: 15vh;
    box-sizing: border-box;
}
.containerFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 15vh;
    margin: auto;
    padding: 0 auto;
}
footer div div div ul li{
    list-style: none;
    font-size:x-small;
    font-weight: lighter;
    margin-bottom: .5rem;
    color: hsl(233, 8%, 62%);
}
footer div div div ul{
    margin-left: 3rem;
}
div.container.FooterLeft div.container{
    height: 15vh;
    flex-direction: column;
    justify-content: space-evenly;
}
div.container.FooterLeft div.container2{
    display: flex;
}
div.container.FooterRight{
    flex-direction: column;
    align-items: flex-end;
}
.FooterRight>p{
    font-size: x-small;
}
h1{
    margin-top: 0;
    font-weight: normal;
}

h2{
    font-weight: normal;
    margin-top: 0;
}

.psection2 {
    font-size: smaller;
}

h4{
    font-weight: normal;
}

.card  {
    width: 18vw;
    align-items: baseline;
    background-color: white;
    border-radius: .5rem;
}

.card>img{
    width: 18vw;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.card>div>p:first-of-type{
    font-size: xx-small;
}

.card>div>p:last-of-type{
    font-size: x-small;
}
.articleText{
    margin:1.5rem;
}

h5{
    font-weight: normal;
    margin: .2rem 0 .2rem 0;
}

.imgFooter{
    width: 12%;
}
.mockups{
    position: relative;
    width: 38vw;
    top:-38rem;
    z-index: 0;
    right: -65rem;
}