body {
    font-size: 15px;
    color: white;
    margin: 4rem;
}

.section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem;
}

.orange-section {
    background-color: hsl(31, 77%, 52%);
}

.dCyan-section {
    background-color: hsl(184, 100%, 22%);
}

.vdCyan-section {
    background-color: hsl(179, 100%, 13%);

}

img {
    padding: .5rem;

}

h2 {
    font-family: 'Big Shoulders Display', cursive, sans-serif;
    padding: .5rem;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    padding: .5rem;
}

button {
    background: hsl(0, 0%, 95%);
    border: none;
    margin: .75rem;
    padding: .5rem;
    border-radius: 45rem;
    width: 20rem;
}